@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.button {
  display: inline-block;
  color: inherit;
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  display: block;
  position: absolute;
  top: -23px;
}

.page-header {
  margin-top: 40px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFE17F;
  width: 1160px;
}

.navigation {
  position: relative;
  padding: 48px 60px;
  padding-bottom: 0;
}

.navigation-user-menu {
  display: flex;
}

.navigation-search {
  width: 516px;
}

.button-search {
  padding-left: 36px;
  background-image: url("../img/icons/search.svg");
  background-position: left center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 501px;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  list-style-type: none;
}

.navigation-user-link {
  background-position: left center;
  background-repeat: no-repeat;
}

.navigation-user-link-entry {
  padding-left: 25px;
  background-image: url("../img/icons/user.svg");
  background-size: 13px 12px;
}

.navigation-user-link-compare {
  padding-left: 20px;
  background-image: url("../img/icons/compare.svg");
  background-size: 10px 12px;
}

.navigation-user-link-cart {
  padding-left: 26px;
  background-image: url("../img/icons/cart.svg");
  background-size: 16px 14px;
}

.navigation-main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style-type: none;
}

.navigation-category {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  list-style-type: none;
}

.slider-list {
  list-style-type: none;
}

.slide-description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.good-params {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.good-params-title {
  font-size: 16px;
}

.good-params-description {
  color: #000000;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style-type: none;
}

.catalog-item {
  width: 160px;
}

.catalog-link {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.catalog-link-vr {
  background-image: url("../img/icons/category-1.svg");
}

.catalog-link-selfie-stick {
  background-image: url("../img/icons/category-2.svg");
}

.catalog-link-camera {
  background-image: url("../img/icons/category-3.svg");
}

.catalog-link-fitbit {
  background-image: url("../img/icons/category-4.svg");
}

.catalog-link-smartwatch {
  background-image: url("../img/icons/category-5.svg");
}

.catalog-link-drone {
  background-image: url("../img/icons/category-6.svg");
}

.advantages {
  background-color: #F0F0F0;
}

.advantages-item {
  text-transform: uppercase;
  text-align: center;
}

.advantages-link {
  text-decoration: none;
  color: inherit;
}

#delivery {
  background-image: url("../img/icons/delivery-bg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 136px 164px;
}

#guarantee {
  background-image: url("../img/icons/warranty-bg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 136px 164px;
}

#credit {
  background-image: url("../img/icons/credit-bg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 136px 164px;
}

.delivery-description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.unique-good {
  background-color: #F0F0F0;
}

.unique-good-link {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.contact-columns {
  display: flex;
  justify-content: space-between;
}

.address {
  width: 239px;
  margin-right: 114px;
}

.about-us {
  width: 458px;
}

.contact {
  width: 294px;
  margin-left: auto;
}

.navigation-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
}

.contacts {
  width: 560px;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}

.contacts-phone {
  color: inherit;
}

.contacts-description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.partners-list {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-weight: 700;
}

.subscribe {
  background-color:  #F0F0F0;
}

.subscribe-description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-menu {
  display: flex;
}

.page-footer .contacts-description {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}

.page-footer .navigation-item {
  text-align: center;
}

.page-footer .contacts-phone {
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
}

.inner-header {
  padding: 38px 60px;
}

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.breadcrumbs {
  list-style-type: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color:rgba(0, 0, 0, .6)
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog {
  display: flex;
}
/*  */

.catalog-filter {
  position: relative;
  width: 328px;
  z-index: 1;
}

.catalog-filter::before {
  position: absolute;
  content: "";
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: -2;
  background-color: #efefef;
}

.filter-title {
  position: relative;
  width: 328px;
  height: 71px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-title::before {
  position: absolute;
  content: "";
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: #d9d9d9;
}

.catalog-filter-menu {
  width: 328px;
}

.catalog-sorting {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-sorting::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-color: #ebebeb;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.control-label,
.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color:inherit;
}

.goods-list {
  font-family: "Rubik", sans-serif;
}

.goods-card-link {
  text-decoration: none;
  color: inherit;
}

.goods-card-title {
  line-height: 24px;
  font-weight: 700;
}

.goods-card-price {
  font-weight: 400;
}

.show-more-button {
  font-size: 16px;
  line-height: 19px;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-fb {
  background-image: url("../img/icons/facebook.svg");
}

.social-link-insta {
  background-image: url("../img/icons/instagram.svg");
}

.social-link-twitter {
  background-image: url("../img/icons/twitter.svg");
}
